p{
    background: cornflowerblue;
    text-align: center;
    font-family: 'Times New Roman';
}

h2{
    background: yellowgreen;
    text-align: center;
    font-family: 'Times New Roman';
}

h1{
    background: pink;
    text-align: center;
    font-family: 'Times New Roman';
}