p{
    background: cornflowerblue;
    text-align: center;
    font-family: 'Times New Roman';
}

h2{
    background: yellowgreen;
    text-align: center;
    font-family: 'Times New Roman';
}

h1{
    background: pink;
    text-align: center;
    font-family: 'Times New Roman';
}

#cabecera{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: skyblue;
    color: white;
}